/* src/components/Footer.css */
.footer {
    background-color: #333;
    color: #f1f1f1;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    position:relative;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    opacity: 55%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .footer p {
    margin: 0;
  }
  
  .social-links {
    display: flex;
    gap: 1rem;
  }
  
  .social-links a {
    color: #f1f1f1;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #007bff;
  }
  