/* src/styles/Home.css */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }
  

  
  .content {
    max-width: 700px;
    z-index: 1;
  }
  
  .home h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  }
  
  .tagline {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: #ccc;
  }
  
  .skills {
    margin-top: 3rem;
    color: #f1f1f1;
  }
  
  .skills h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:#fff;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .skill-icon {
    padding: 12px;
    border-radius: 12px;
    transition: transform 0.3s ease;
  }
  
  .cta-button {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #d15a10;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Audiowide";
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .cta-button:hover {
    opacity: .95;
  }
    
   .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
   

  .profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 3rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    border: 5px solid green;
    transition: all 0.3s ease;
  }
  
  .profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.5);
  }/* Heartbeat Animation */
@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pulse {
    animation: heartbeat 1.5s ease-in-out infinite;
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }